:root {
  --border-radius: 0.75rem;
  --card-bkg: rgba(100, 100, 100, 0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}